button{
    background-color: rgb(186, 214, 26);
    font-size: 24px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}


body{
    font-family: sans-serif;
}



.title{

    color: blue;
    background-color: crimson;
    border: 1px dashed;
    
}

p{
    

}

h4{
    border: 2px solid green;
    color: orchid;
    background-color: black;
    text-align: center;

}

.content{
    text-align: center;
}

.butt2{
    text-align: center;
}

.butt3{
    text-align: right;
}



